<div class="col-12 col-lg-4">
	<div class="border p-3 mb-3">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
            <a class="nav-link px-3 me-2 mb-2 mb-lg-0" href="{{ path('app_account_edit') }}">{{ 'menu.profil_edit'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 me-2 mb-2 mb-lg-0" href="#">{{ 'menu.change_password'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 me-2 mb-2 mb-lg-0" href="#">{{ 'menu.user_log'|trans }}</a>
            </li>
        </ul>
    </div>
</div>
