/*
Author : Chris ;
Theme : Pure CSS ;
Description : Theme ;
Tags : CSS, Symfony ;
*/

:root {
	--black: #161823;
	--grey: #5c606a;
	--light: #f5f6f5;
	--white: #fff;
	--red: #fe2c55;
	--blue: #20d5ec;
}