/*
Author : Chris ;
Theme : Pure CSS ;
Description : Theme ;
Tags : CSS, Symfony ;
*/

:root {
	--black: #161823;
	--grey: #bcbdc0;
	--light: #f8f8f8;
	--white: #fff;
	--red: #fe2c55;
	--blue: #20d5ec;
}