{% extends 'base.html.twig' %}

{% block title %}{{ 'title.privacy'|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <section class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mb-3">
                <!-- Privacy policy Start -->
                {{ 'privacy_policy'|trans|raw }}
                <!-- Privacy policy End -->
            </div>
        </div>
    </section>
{% endblock %}
