/*
Author : Chris ;
Theme : Pure CSS ;
Description : Module type ;
Tags : Bootstrap, Symfony ;
*/


@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../../../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  }
  