{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %} {{ 'title.dashboard'|trans }} {{ parent() }}
{% endblock %}

{% block main %}
	<section class="container">
		<div class="row">
			<div class="col-6 alert-info">
				<span class="display-5">{{ 'dashboard.count_activities'|trans({'count': 4})|raw }}
                </span>
			</div>
			<div class="col-6 alert-success">
				<span class="display-5">{{ 'dashboard.count_users'|trans({'count': 4})|raw }}
                </span>
			</div>
		</div>
	</section>
{% endblock %}