<form method="post" action="{{ path('app_activity_delete', {'id': activity.id}) }}" onsubmit="return confirm(' {{ 'activity.confirm_delete'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">
    <button class="button button-outline-action">Delete</button>
</form>
