<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ 'title.template_contact'|trans }}</title>
	</head>
	<body>
		<section>
			<h1>{{ 'title.template_contact'|trans }}</h1>
			<p>{{ content }}</p>
		</section>
	</body>
</html>